      body {
        position: relative;
        height: 100vh;
        width: 100vw;
        font-family: 'Pacifico', cursive;
        font-family: 'Rajdhani', sans-serif; 
        margin: 0;
        padding: 0; 
        overflow: hidden;
      }
      header{
          position: relative;
          width: 100%;
          height: 5%;
          background-color: black;
          padding: 30px;
          /* border-bottom: 5px solid #ee0405; */
      }
      footer{
          width: 100%;
          height: 10%;
          background-color: black;
          position: relative;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
      }

      .swiper {
        width: 100%;
        height: 80%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fffdfe;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-slide div{
          min-width: 40vw;
          max-width: 1000px;
      }
      .confirm {
          position: absolute;
          top: 50%;
          left: calc(10%);
          width: 80%;
          z-index: 100;
        padding: 20px;
        border: 2px solid black;
        background-color:#fffdfe ;
      }
      input{
          width: 76%;
          height: 30px;
        border-radius: 5px;
        font-size: large;
        font-family: 'Pacifico', cursive;
        font-family: 'Rajdhani', sans-serif; 
      }
      button{
          width: 20%;
          height: 36px;
          border-radius: 5px;

      }
      ol {
          padding: 15px;
        display: flex;
        flex-direction: column;

      }
      li{
          text-align: left;
          font-weight: bolder;
          padding: 5px;
      }
      li::marker{
          font-weight: 1000;
      }
      ol li button{
          float: right;
      }
      h1{
        font-size: 45px;
        color: white;
        display: inline;
        border-left: 2px solid #33a0d0;
        padding-left: 10px;
      }
      h3{
        font-size: 40px;
      }
      h5{
        font-size: 15px;
        color: white;
        margin-right: 50px;

      }